.place__title {
  margin-top: auto;
  font: 900 72px/76px 'Inter',sans-serif;
}


@media screen and (max-width: 1023px) {
  .place__title {
    font: 900 42px/46px 'Inter',sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font: 900 32px/35px 'Inter',sans-serif;
    margin: 0;
    padding: 0 16px;
  }
}
