.cover__title {
  width: 560px;
  margin: 0 auto;
  align-self: end;
  text-align: center;
  font: 900 72px/76px 'Inter',sans-serif;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 288px;
    font: 900 32px/35px 'Inter',sans-serif;
  }
}
